fastapi==0.116.1
fastembed==0.7.3
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-experimental==0.3.4
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
langdetect>=1.0.9
numpy==2.2.6
onnxruntime==1.22.1
openai==1.106.1
pandas==2.3.2
psutil==7.0.0
psycopg2-binary==2.9.10
pymupdf==1.26.4
pypdf2==3.0.1
pytest>=8.4.2
python-dotenv==1.1.1
python-multipart==0.0.20
qdrant-client==1.15.1
requests==2.32.5
simsimd>=6.5.3
sqlalchemy==2.0.43
# SQLAlchemy==1.4.54 << Instalado por Airflow
tenacity==9.1.2
uvicorn==0.35.0
